body * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.signupContainer {
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: #474e5d;
    padding: 150px;
}

.signupInner{
    width: 100%;
    height: 100%;
}

.form-signup {
    background-color: #fefefe;
    margin: 0 auto;
    width: 50%;
  }

  .form-signup input[type=text], .form-signup input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.form-signup button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.form-signup .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.form-signup .cancelbtn, .form-signup .signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.btn-submit{
    width: 100%;
    display: inline-block;
}
